<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href={{ "/assets/favicon.ico" | relative_url }} type="image/x-icon">
  <title>Whilst Walking Theatre Festival | {{ page.title }}</title>
  <meta name="description" content="{{ site. description }}">
  <meta name="author" content="Matteo Carpi">

  <meta property="og:url"                content="https://www.whilstwalkingtour.com" />
  <meta property="og:type"               content="homepage" />
  <meta property="og:title"              content="Whilst Walking Theatre Festival" />
  <meta property="og:description"        content="{{ site.description }}" />
  <meta property="og:image"              content="{{ site.logo }}" />

</head>
