---
layout: default
---

<h1>{{ page.page_title }}</h1>
<hr>

<div class="people">
  {% for person in page.team_members %}
  <div class="person">

    <img class="avatar" src="{{ person.headshot }}" alt="">
    <h4>{{ person.name }}</h4>
    <p>{{ person.biography }}</p>

  </div>
  {% endfor %}

  <div class="more-company">
    <br>
  <h1>{{ page.biography_title }}</h1>
    <p>
      {{ page.collective_biography | markdownify }}
    </p>
  </div>
</div>

<div class="companies">
 {% for partner in page.partners %}
 
    <div>
    <a href="{{ partner.link }}"><img src="{{ partner.logo }}" alt=""></a>
    <br>

    {{ partner.biography | markdownify }}

    </div>

  {% endfor %}
</div>
