---
layout: default
---

<h1>Who are we?</h1>
<hr>
<p>We draw you into our story, a seamless extension of your own. We aren’t only curious about design, but about our users, our peers, and our clients. We are united in our determination to create meaningful change, taking pride in making long-lasting impact. Be passionately curious.</p>

{% for item in site.data.people %}
<div class="person">

  <img src="{{ item.avatar }}" alt="">
  <h4>{{ item.name }}</h4>
  <p>{{ item.bio }}</p>

</div>
{% endfor %}

<div class="companies">
  <a href="#"><img src="/assets/img/COLLABORATORS_LOGO_PROVISIONAL.png" alt=""></a>
  <p>We draw you into our story, a seamless extension of your own. We aren’t only curious about design, but about our users, our peers, and our clients. We are united in our determination to create meaningful change, taking pride in making long-lasting impact. Be passionately curious</p>

  <a href="#"><img src="/assets/img/GBT-logo.png" alt=""></a>
  <p>We draw you into our story, a seamless extension of your own. We aren’t only curious about design, but about our users, our peers, and our clients. We are united in our determination to create meaningful change, taking pride in making long-lasting impact. Be passionately curious</p>
</div>
