---
layout: default
---
<img class="logo-home" src="{{ site.logo }}" alt="">
<h1>{{ page.title_for_blog }}</h1>
<hr>

{%- comment -%} <div class="latest-post-container">
  <a href="{{ site.posts.first.permalink }}"><h2>{{ site.posts.first.title }}</h2></a>
  <h3 class="date">{{ site.posts.first.date | date_to_long_string }} {% if site.posts.first.location %} - {{ site.posts.first.location }} {% endif %} </h3>
  <img src="{{ site.posts.first.image }}" alt="">
  <div class="post-content">
    <br>
    {{ site.posts.first.content | truncatewords: 75}} <a href="{{ site.posts.first.permalink }}">Read More</a>
  </div>
</div> {%- endcomment -%}

{%- comment -%} <a href="/india-tour"><button type="button" name="button">Back to India Tour</button></a> {%- endcomment -%}

<div class="about">
  <h1>{{ page.title_for_biography }}</h1>
  <img src="{{ page.team_picture }}" alt="Whilst walking team">
  <br>
  <hr>
  {{ page.biography | markdownify }}
  <a href="/about"><button type="button" name="button">Tell me more</button></a>


  <a target="_blank" class="collaborators" href="http://thecollaborators.in/"><img src="/assets/img/COLLABORATORS_LOGO_PROVISIONAL.png" alt=""></a>
  <span class="collaborators">in collaboration with</span>
  <a target="_blank" class="gbt" href="https://www.gutbuddiestheatre.com"><img src="/assets/img/GBT-logo.png" alt=""></a>

</div>
