---
layout: default
---
<img class="logo-home" src="{{ site.logo }}" alt="">
<a href="/tour"><button class="btn-tour" type="button" name="button">Tour Dates</button></a>
<h1>What are we up to?</h1>
<hr>

<div class="latest-post-container">
  <!-- INSERT HERE THE POST LOOP FOR THE LATEST POST -->
  <a href="{{ site.posts.first.permalink }}"><h2>{{ site.posts.first.title }}</h2></a>
  <h3 class="date">{{ site.posts.first.date | date_to_string }} - {{ site.posts.first.location }}</h3>
  <div class="post-content">
    {{ site.posts.first.content | truncatewords: 75}} <a href="{{ site.posts.first.permalink }}">Read More...</a>
  </div>

</div>

<a href="/blog"><button type="button" name="button">See all posts</button></a>

<div class="about">
  <h1>Who are we?</h1>
  <img src="/uploads/Whilst Walking Team.jpg" alt="Whilst walking team">
  <br>
  <hr>
  <p>
    The Whilst Walking Theatre Festival is conducted by an international group of artists who use non-hierarchical means of creation to travel through India presenting their compilation of devised performance. As a collective, they have embarked on a theatrical journey through the diverse cultures of India.
  </p>
  <p>
    The program of work is conceived by the seven international artists who originate from Austria, England, Italy, Spain and India. They met during their training at The London International School of Performing Arts, a school now based Berlin and well-known for its unique training on Jacques Lecoq’s pedagogy.
  </p>
  <a href="/about"><button type="button" name="button">Tell me more</button></a>
  <a target="_blank" class="collaborators" href="http://thecollaborators.in/"><img src="/assets/img/COLLABORATORS_LOGO_PROVISIONAL.png" alt=""></a>
  <span class="collaborators">in collaboration with</span>
  <a target="_blank" class="gbt" href="https://www.gutbuddiestheatre.com"><img src="/assets/img/GBT-logo.png" alt=""></a>
</div>
