---
layout: default
---
<h1>{{ page.page_title }}</h1>

{{ page.about_the_tour | markdownify }}

<div class="contacts">

  <h1>{{ page.booking_section_title }}</h1>
  {{ page.contacts | markdownify }}
<a href="{{page.facebook_link }}"> <i class="fab fa-facebook-f"></i></a>

</div>
<div class="tour-dates">
    {% for date in page.tour_dates %}
      
      <div class="tour-date">

        <a href="{{ date.link }}" target="_blank">
          <span class="tour-date">
          {%- if date.start_date == date.end_date -%}
            {{ date.start_date | date_to_long_string: "ordinal"}} -   
          {%- else -%}
            {{ date.start_date | date_to_long_string: "ordinal"}} - {{ date.end_date |  date_to_long_string: "ordinal" }}  
          {%- endif -%}
            <strong> @{{ date.location }}</strong>
          </span>
        </a>

      </div>

    {% endfor %}
</div>
